.container {
    border: 4px solid black;
    width: 800px;
    height: 500px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    width: 400px;
    height: 80px;
    margin-left: 200px;
    justify-content: center;
    background-color: white;
    color: black;
    border: 2px solid black;
    margin-bottom: 30px;
}

.current-t {
    border: 4px solid black;
    background-color: yellow;
    color: black;
    height: 100vh;
}

.but {
    margin-right: 40px;
}