.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 350px;
  margin-left: 80px;
}

.button {
  background-color: rgb(0, 80, 151);
  color: white;
  padding: 10px 10px;
  border-radius: 10%;
  border: none;
  cursor: pointer;
}

#toggleMe {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  gap:20px;
  position: absolute;
  background: white;
  padding: 120px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  z-index: -1;
  opacity: 0;
}
