/* ================= RESET ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fff;
  color: #111;
}

/* ================= HEADER ================= */

.topbar {
  background: #222;
  color: white;
  padding: 32px 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.left img {
  height: 35px;
}

.left span {
  font-size: large;
  font-weight: 100%;
}

.icon img {
  height: 30px;
  cursor: pointer;
}

/* ================= HERO ================= */

.user-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user-left {
  padding: 0px;
}

.user-left h1 {
  font-size: 38px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.user-left p {
  color: #444;
  line-height: 1.6;
  margin-bottom: 28px;
}

.signup {
  display: flex;
  flex-direction: column;
  max-width: 380px;

}

.introduce h3 {
  margin-bottom: 10px;
  font-size: x-large;
}

.introduce input {
  width: 92%;
  padding: 12px;
  border: 1px solid #000000;
  margin-bottom: 12px;
  background-color: white;
  color: #444;
  font-size: large;
}

.introduce button {
  background: #111;
  color: white;
  cursor: pointer;
  margin-left: 600px;
  display: flex;
  justify-content: center;
  border-radius: 0%;
}

/* ================= ABOUT ================= */

.about {
  padding: 50px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 80px;
}

.about h2 {
  font-size: 40px;
  margin-bottom: 14px;
}

/* ================= PRODUCT ================= */

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 360px;
  margin-bottom: 0px;
}

.product-text {
  background: #222;
  color: white;
  padding: 140px 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.product-text h2 {
  font-size: 30px;
  margin-bottom: 60px;
}

.product-text h4 {
  margin: 10px 0;
  opacity: 0.8;
}

.product img {
  width: 800px;
  height: 501px;
  margin-bottom: 0px;
}

.cta {
  padding: 100px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.cta-text h2 {
  font-size: 48px;
  margin-bottom: 15px;
}

.cta-text p {
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
}

.cta-form h3 {
  margin-bottom: 50px;
  font-size: 25px;
}

.cta-form {
  max-width: 420px;
}

.ft-input {
  width: 600px;
  padding: 12px 20px 20px;
  margin-bottom: 12px;
  background-color: #fff;
  color: #000;
  border: #000 solid 1px;
}

.ft-but {
  background: #000000;
  color: white;
  border: black solid 1px;
  border-radius: 0%;
  padding: 12px 28px;
  cursor: pointer;
  width: 140px;
  margin-left: 460px;
}

footer {
  background: #fff;
  padding: 40px 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT SIDE */

.ft-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ft-left img {
  height: 35px;
}

.ft-left span {
  font-size: 18px;
}

/* RIGHT SIDE */

.ft-right {
  display: flex;
  gap: 7px;
}

.ft-icon img {
  width: 45px;
  height: 45px;
  background: #111;
  border-radius: 50%;
  padding: 0px;
  cursor: pointer;
  margin-right: 20px; 
}