.main {
    display: flex;
    flex-direction: row;
    color: black;
    gap: 20px;
}

.container {
    display: block;
    margin-top: 45px;
    margin-right: 0px;
    width: 450px;
    height: 520px;
    background-color: white;
    border-radius: 3%;
    justify-content: center;
    margin-left: 20px;
}

.image {
    display: flex;
    justify-content: center;
    border-radius: 5%;
    margin-left: 22px;
    margin-top: 25px;
    width: 405px;
    height: 250px;
}

.head {
    font-size: larger;
    margin-left: 30px;
    margin-bottom: 0px;
}

.but {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 70%;
    height: 50px;
    margin-left: 365px;
    border-color: rgb(0, 0, 0);
}

.para {
    margin-bottom: 0px;
}

#merge {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
    font-size: large;
}

#merge span {
    color: grey;
}